
/*-- Use For Custom Styling --*/
/*-- Ultility --*/
.backdrop-brightness{
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.text-justify{
    text-align: justify;
}
.ml-5{
    margin-left: 5% !important;
}
.mt-0{
    margin-top: 0 !important;
}
.margin-10{
    margin: 10% 0;
}
.p-5{
    padding: 5% 0;
}
.padding-10{
    padding: 10% 0;
}
.padding-20{
    padding: 20% 0;
}
.pt-0{
    padding-top: 0 !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.t2{
    margin-top: 3px !important;
}
.hidden{
    display: none;
}
.row{
    display: flex;
    justify-content: space-between;
}
.height-full{
    height: 100vh;
}
.height-70{
    height: 70vh;
}
.height-50{
    height: 50vh;
}
section#home{
    height: 100vh;
}
section#dibalik{
    height: 100vh;
}
img.logo{
    width: 100%;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between !important;
}
.flex-col{
    flex-direction: column;
}
.flex-end{
    justify-content: flex-end;
    align-items: center;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-baseline{
    align-items: baseline;
    justify-content: center;
}
.w-60{
    width: 60%;
}
.filter{
    filter: brightness(0.5);
}
/*-- End Ultility --*/
/*-- Header --*/
.navbar .container{
    width: max-content;
    padding: 0 5%;
}
.navbar{
    height: 10vh;
}
.active{
    display: block;
}
.width-40{
    width: 43%;
}
.width-20{
    width: 14%;
}
.m-0{
    margin: 0 !important;
}

section#home .container .row .flex h1,
section#home .container .row .flex p{
    width: 63%;
    text-align: justify;
}
section#home .container .row .flex h1{
    font-size:5rem;
    font-weight: 400;
    letter-spacing: 0.08em;
}
section#home .container .row .flex h1 strong{
    font-weight: 700;
    letter-spacing: 0.08em;
}
section#home .container .row .flex p{
    font-weight: 400;
    font-size: 2.25rem;
}
section#home .container .row .flex div{
    width: 65%;
    margin-top: 1rem;
}
section#home .container .row .flex div button{
    width: fit-content;
    margin: 0 auto;
}
.home{
    margin-left: 1%;
    margin-bottom: 5%;
}
.home .second-letter{
    margin-top: -5%;
    margin-left: -17%;
}
.home h1.batik-font.first-letter{
    font-size: 30rem !important; 
    font-weight: 400 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home h1.batik-font.second-letter{
    font-size: 20rem !important;
    font-weight: 400 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0 !important;
}

h1.batik-font.first-letter{
    font-size: 18rem !important; 
    font-weight: 400 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 8%;
}
h1.batik-font.second-letter{
    font-size: 14rem !important;
    font-weight: 400 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0 !important;
    margin-right: 2%;
}

h1.alt-font {
    font-size: 2rem !important;
    font-weight: 700 !important;
    margin-top: -20%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-dibalik{
    margin-right: 0%;
}
.container-dibalik ul{
    list-style-type: decimal !important;
    margin-left: -3%;
}
.img-dibalik{
    justify-items: flex-end;
    align-items: center;
    margin-left: 5%;
    margin-right: -5%;
    width: 30%;
    height: 60%;
}
.text-dibalik{
    text-align: justify;
}
header.sticky nav.navbar .nav-header-container .row .col-md-12 .navbar-collapse .nav-logo{
    padding: 12px 0;
} 
.nav-logo{
    padding: 16px 0;
}
.center-logo{
    display: flex;
    margin: 0 auto ;
}
.logo-home{
    margin-top: -5%;
    margin-right: -5%; ;
}
.button-home{ 
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    padding: 12px 20px;
    background: none;
    color: #fff;
    
}


.button-home:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%)translateX(calc(100% + 85px));
    width: 40px;
    height: 40px;
    background-color: #0C4A83;
    border-radius: 20px;
    transition: transform 0.5s 0.5s cubic-bezier(0, 0, 0.5, 2), width 0.5s 0.5s cubic-bezier(0, 0, 0.5, 2);
    z-index: -1;
}
.button-home:hover::before{
    width: 100%;
    transform: translateY(-50%)translateX(-20px);
    transition: transform 0.5s 0.5s cubic-bezier(0, 0, 0.5, 2), width 0.5s 0.5s cubic-bezier(0, 0, 0.5, 2);
}

.button-home i{
    margin-left: 20px;
    transition: transform 0.5s 4s cubic-bezier(0, 0, 0.5, 2);
    color: #fff;
}
.button-home:hover i{
    
    transform: translateX(3px);
}

/*-- Card --*/
.card{
    position: relative;
    margin: 15px;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0,0, 0.1), 
                inset -5px -5px 5px rgba(255, 255,255, 0.5),
                5px 5px 5px rgba(0, 0,0, 0.1),
                -5px -5px 5px rgba(255, 255,255, 0.5);
    border-radius: 15px;
    padding: 20px;
}

.card .box{
    height: 100%;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.2);
    border-radius: 15px;
    transition: 0.5s;
}
.card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0,0, 0.2);
    background: linear-gradient(180deg, #FFDC65 0%, #D1A409 100%);
}
.card .box .content{
    padding: 20px;
    text-align: center;
}
.card .box .content h2{
    font-weight: 800;
    position: absolute;
    top: 70px;
    right: 30px;
    font-size: 6em;
    color: rgba(0, 0,0, 0.02);
    transition: 0.5s;
}
.card:hover .box .content h2{
    color: rgba(0, 0,0, 0.05);
}
.card .box .content h3{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5px;
    z-index: 1;
    color: #000000;
    transition: 0.5s;
}
.card .box .content p{
    font-size: 1em;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 25px;
    z-index: 1;
    color: #000000;
    transition: 0.5s;
}
.card .box:hover .content h3,
.card .box:hover .content p{
    color: #FFFFFF;
}
.card .box .content a,
.card .box .content button{
    position: relative;
    padding: 8px 20px;
    background-color: #0C4A83;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.2);
    border: 0px;
}
.card .box .content a:hover,
.card .box .content button:hover{
    transform: scale(1.2);
}

/*-- Timeline --*/
.time .container{
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}
.top-section{
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    margin-top: 0 !important;
}

.timeline{
    position: relative;
}
.line{
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom:-50px;
    background-color: #000000;
    
}
.line::before,
.line::after{
    position: absolute;
    display: none;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    left: 50%;
    background-color: #000000;
    transform: translateX(-50%);
}
.line::after{
    bottom: 0;
}
.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    position: relative;
    z-index: 1;
    margin: 0 -15%;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}
.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}
.bead{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #000000;
    transform: translateX(-50%);
}
.section .content{
    top: -10%;
    width: calc(48% - 2rem);
}
.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
.col-xs-12{
    margin: 15px 0;
}
.video-container{
    padding-bottom: 56.25%; /* 16:9 */
}
.denah-container{
    height: 50vh;
    margin: 20px auto;
}
.denah-img:hover{
    transform: scale(1.2);
}


.video-container iframe {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

iframe {
position: absolute;
left: 0;
width: 100%;
height: 100%;
border-radius: 5px;
}
video-play{
    filter: none !important;
}
.area-title{
    text-align: center;
    position: absolute;
    top: 230px;
    left: 300px;
}
/*-- End Timeline --*/
.modal-container{
    z-index: 1000;
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    padding: 10% 10vw 5% 10vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.show-modal{
    opacity: 1;
    pointer-events: all;
}
.modal-content{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.2);
    overflow: auto;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 3em;
    color: #000000;
    cursor: pointer;
}


/*-- Footer --*/
footer{
    background: linear-gradient(180deg, #FFDC65 0%, #D1A409 100%);
    padding: 20px;
    color: #fff;
    width: 100%;
    min-height: 50px;
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: -1;
}

footer .wave{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 70px;
    background:url(../images/wave2.png);
    z-index: -1;
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_03 4s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_04 4s linear infinite;
}
.footer-link{
    position: relative;
    width: 100%;
    margin: 50px auto;
}
.footer-link a{
    margin: 0 12px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ebf5fc;
    
}.footer-link p{
    text-align: center;
}
.social-container{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.social-icons li a{
    position: relative;
    display:block;
    width: 30px;
    height: 30px;
    color: #555;
    background: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgb(0 0 0 /50%);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
}
.social-icons li a::after{
    content: '';
    position: absolute;
    top: 3px;
    left: -8px;
    height: 105%;
    width: 8px;
    background: #b2b2b2;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social-icons li a::before{
    content: '';
    position: absolute;
    bottom: -8px;
    left: -3px;
    width: 100%;
    height: 8px;
    background: #e5e5e5;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
    
}
.social-icons li a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(10px,-10px);
    box-shadow: -50px 50px 50px rgb(0,0,0,0.5);
}
.social-icons li:hover .fa,
.social-icons li:hover .fa-brands{
    color: #fff;
}
.social-icons li:hover:nth-child(1) a{
    background-color: #bc2a8d;
}
.social-icons li:hover:nth-child(1) a::before{
    background-color: #a24584;
}
.social-icons li:hover:nth-child(1) a::after{
    background-color: #895579;
}

.social-icons li:hover:nth-child(2) a{
    background-color: #341f1f;
}
.social-icons li:hover:nth-child(2) a::before{
    background-color: #1b1616;
}
.social-icons li:hover:nth-child(2) a::after{
    background-color: #010101;
}
.social-icons li:hover:nth-child(3) a{
    background-color: #e62e2e;
}
.social-icons li:hover:nth-child(3) a::before{
    background-color: #de2d2a;
}
.social-icons li:hover:nth-child(3) a::after{
    background-color: #d92c29;
}
.social-icons li:hover:nth-child(4) a{
    background-color: #1d9bf0;
}
.social-icons li:hover:nth-child(4) a::before{
    background-color: #459cd6;
}
.social-icons li:hover:nth-child(4) a::after{
    background-color: #6399bd;
}
.scroll-container{
    opacity: 1;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    z-index:2;
    width: 100px;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.8) ;
    padding: 5px 0;
    border-radius: 3px;
}
.scroll-container:hover{
    transform: scale(1.1) !important;
}
.field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mouse {
	width: 25px;
	height: 50px;
	border: 3px solid #FFFFFF;
	border-radius: 60px;
	position: relative;
}
.mouse::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}
.hide-mouse{
   opacity:0;
}


@keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

@keyframes animateWave {
    0% {
        background-position-x:1000px ;
    }
    100% {
        background-position-x:0px ;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x:0px ;
    }
    100% {
        background-position-x:1000px ;
    }

}
@keyframes animateWave_03 {
    0% {
        background-position-x:1000px ;
    }
    100% {
        background-position-x:400px ;
    }
}
@keyframes animateWave_04 {
    0% {
        background-position-x:400px ;
    }
    100% {
        background-position-x:1000px ;
    }

}
@media screen and (max-width: 768px){
    .p-5{
        padding: 5%;
    }
    .card .box:hover{
        transform: translateY(-35px);
    }
    .navbar-collapse{
        display: none;
    }
    .nav-logo {
        display: none;
    }
    .hidden{
        display: block !important;
    }
    .section{
        margin: 100px 0;
    }
    section#home .row{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    section#home .container .row .flex{
        justify-content: center;
        align-items: center;
    }
    section#home .container .row .flex h1,
    section#home .container .row .flex p{
    width: 100%;
    text-align: center;
}   
    section#home{
        padding-top: 30%;
    }
    .flex-end{
        justify-content: center;
        align-items: center;
    }
    section#penugasan .flex{
        flex-direction: column;
    }
    section#timeline{
        display: block;
        position: relative;
        top: 0; 
    }
    .video-container{
        padding-bottom: 25%;
    }
    .work-text{
        min-width: fit-content;
    }
    
}
@media screen and (max-width: 576px){

    .card .box:hover{
        transform: translateY(-35px);
    }
    .hidden{
        display: block !important;
    }
}